body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.searchBar input {
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
}